[Unit]
Description=Pilot Kneeboard Application
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/kneeboard/kneeboard_gui.py
WorkingDirectory=/home/pi/kneeboard
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
