[Unit]
Description=Pilot Kneeboard Application
After=network.target

[Service]
ExecStart=/usr/bin/xvfb-run -a /usr/bin/python3 /home/pi/kneeboard/kneeboard_gui.py
Environment="DISPLAY=:0"
Environment="HEADLESS=1"
WorkingDirectory=/home/pi/kneeboard
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
